/* Estilo general */
body {
    font-family: 'italic', serif;
    background-color: #ff7dff;
    color: #333;
}

/* Encabezado */
header {
    background-color: #79043e; /* Color rosa */
    padding: 20px 0;
}

.site-heading-upper {
    font-size: 18px;
    font-weight: 700;
    color: #fff; /* Texto blanco */
}

/* Navegación */
.navbar {
    background-color: #ff69b4; /* Color rosa */
}

.navbar-nav .nav-link {
    color: #fff; /* Texto blanco */
    font-weight: 600;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ff1493; /* Color rosa más oscuro */
}

/* Sección Intro */
.intro {
    margin-top: 50px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
}

.intro-img {
    border-radius: 10px;
}

.intro-text {
    padding: 30px;
}

.section-heading-upper {
    font-size: 24px;
    color: #ff69b4; /* Color rosa */
}

.section-heading-lower {
    font-size: 36px;
    color: #333; /* Texto oscuro */
}

.intro-button .btn-primary {
    background-color: #ff69b4; /* Color rosa */
    border: none;
    font-weight: 600;
}

/* Sección CTA (Call to Action) */
.cta {
    background-color: #fff; /* Fondo blanco */
    margin-top: 50px;
    padding: 50px 0;
}

.section-heading-upper {
    font-size: 24px;
    color: #ff69b4; /* Color rosa */
}

.section-heading-lower {
    font-size: 36px;
    color: #333; /* Texto oscuro */
}

/* Footer */
.footer {
    background-color: #ff69b4; /* Color rosa */
    color: #fff; /* Texto blanco */
    font-weight: 600;
}
