@page
@model Presentacion.Pages.FormCuidadoraModel
@{
}




<section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        
       <div class="col-lg-6"></div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h4>Empieza tu recorrido por nuestras Manzanas!!! <em>Registrate</em></h4>
                </div>
              </div>
              <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Nombres" type="name" name="name" id="name" placeholder="Nombre Completo"  required>
                </fieldset>
              </div>

               <div class="form-group">
  <fieldset>
    <select asp-for="Mujer.TipoDocumento"name="document_type" id="document_type"   class="form-control" required>
      <option value="">Tipo de documento</option>
      <option value="Cedula">Cedula</option>
      <option value="Cedula de Extranjería">Cedula de Extranjería</option>
      <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
      <option value="Pasaporte">Pasaporte</option>
    </select>
    <br/>
  </fieldset>
</div>

<div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Documento" type="name" name="name" id="name" placeholder="Número Documento" autocomplete="on" required>
                </fieldset>
              </div>
             
               <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Direccion" type="name" name="name" id="name" placeholder="Dirección" autocomplete="on" required>
                </fieldset>

    <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Ciudad" type="name" name="name" id="name" placeholder="Ciudad" autocomplete="on" required>
                </fieldset>
              </div>

              </div>
               <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Celular" type="name" name="name" id="name" placeholder="Número Celular" autocomplete="on" required>
                </fieldset>
              </div>
               <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Correo"type="name" name="name" id="name" placeholder="E-Mail" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset>
                  <input asp-for="Mujer.Ocupación" type="text" name="email" id="email"  placeholder="Ocupación" required="">
                </fieldset>
              </div>
            
              <div class="form-group">
                <fieldset>
                  <input type="submit"  value="Enviar Datos" id="form-submit" class="main-gradient-button">
                </fieldset>
              </div>
            </div>
          </form>
        </div>
       
       

    

 
